.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;

  @media screen and (max-width: 780px) {
    flex-direction: column;
    gap: 20px;
    }
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
  display: flex;
  align-items: start;
  gap: 30px;
  @media screen and (max-width: 780px) {
      gap: 16px;
    }
}

.chefs-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary);

@media screen and (max-width: 980px) {
    width: 140px;
    border-radius: 2px 2px 2px 116px;
      border: 1px solid var(--bakery-landing-1-4, #A18268);
  }
}