.contacts-section {
  padding-bottom: 96px;

  @media screen and (max-width: 780px) {
    padding-bottom: 0;
    }
}

.contact-container {
  display: flex;
  gap: 32px;

@media screen and (max-width: 780px) {
    flex-direction: column;
    gap:8px ;
    }
}

.contacts-title {
  margin-bottom: 16px;
  @media screen and (max-width: 780px) {
      margin-bottom: 8px;
      text-align: center;
    }
}

.contacts-text {
  color: var(--color-brand-dark);
  font-size: 18px;
  font-weight: 400;
  @media screen and (max-width: 780px) {
      margin-bottom: 24px;
      text-align: center;
    }
}

.contact-map {
  border: 0;
  border-radius: 16px;

  @media screen and (max-width: 780px) {
    border-radius: 0;
    width: calc(100% + 48px);
    max-height: 300px;
    margin-left: -24px;
    }
}

.contact-content {
  margin-left: 9.5px;
}